*

!/.gitignore
!/README.md
!/.nojekyll
!/index.html
!/.github/
!/.github/**

!/stresscheck-system/
!/stresscheck-system/**
/stresscheck-system/node_modules/
/stresscheck-system/data/
/stresscheck-system/*.log

!/infom-lp-sample/
!/infom-lp-sample/**
/infom-lp-sample/responses/

!/google-form-builder/
!/google-form-builder/**
